* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quote-box {
  background: #f5f5f5;
  display: inline-block;
  width: 800px;
  height: 50vh;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.icon {
  position: absolute;
  top: 40px;
}
.icon-2 {
  font-size: 1.7rem;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
}
.icon-2:hover {
  transform: scale(1.25);
  transition: 0.5s;
}
p {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}
h3 {
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  min-height: 100px;
}
blockquote {
  display: flex;
  align-items: center;
}
#new-quote {
  border: none;
  padding: 10px 15px;
  border-radius: 10px 15px;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  width: 10%;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.fa-quote-left {
  font-size: 25px;
}
.fa-arrow-circle-right {
  font-size: 35px;
}

@media only screen and (max-width: 768px) {
  #quote-box {
    width: 70%;
    height: 80vh;
    padding: 30px;
  }
  blockquote {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #new-quote {
    width: 100px;
  }
  #text {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}
